html,
body {

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FFC2C2;
    overflow-x: hidden;
    /* Prevents horizontal scroll in case of overflow */
}


.welcome-box {
    background: #952B2B;
    color: #FFC2C2;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    width: 100%;
}

.welcome-box h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-family: 'Times New Roman', serif;
}


/* diamond shape */


.button-container {
    justify-content: center;
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
}

.diamond-button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: #952B2B;
    color: #FFC2C2;
    width: calc(sqrt(2) * 50%);
    height: calc(sqrt(2) * 50%);
    transform: rotateZ(45deg);
    border-radius: 10px;
    text-align: center;
}


.material-symbols-outlined {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.button-label {
    font-size: 20px;
}

.material-icons {
    font-size: 20px;
}


/* text under icon */
.decription-head {
    font-size: 16px;
    color: #952B2B;
    padding: 0px 5px;
    text-align: left;
    font-family: 'Times New Roman', serif;
    border-bottom: 2px solid #952B2B;
    margin: 0px 30px 10px 30px;
}

/*Upload button*/
input[type="file"] {
    display: none;
}

#file-container {
    display: flex;
    justify-content: center;
    background: #952B2B;
    color: #FFC2C2;
    padding: 6px 12px;
    cursor: pointer;
    width: 40%;
    /* Set the width to 40% */
    margin: 0 auto;
    border-radius: 10px;
    font-family: 'Times New Roman', serif;
}


/* Food image */
#picture {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


/*Loading bar */
#progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }
  
  #progress-bar {
    height: 100%;
    background-color: #4caf50;
    width: 0;
    transition: width 0.3s ease;
  }
  


/*Text above recommendation box */
.predText {
    font-size: 16px;
    color: #952B2B;
    padding: 0px 5px;
    text-align: left;
    font-family: 'Times New Roman', serif;
    border-bottom: 2px solid #952B2B;
    margin: 0px 30px 10px 30px;
}


/* Recomendation box */

#recomendation {
    background-color: #FFC2C2;
    border: 5px solid #952B2B;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%;
}

.certainty {
    color: #952B2B;
    font-weight: bold;
    margin: 5px 0;
    text-align: left;
    border-radius: 10%;
}

/*Wine names row */
#WineNames, #WineType {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

/*Type and name of wines */

#type {
    display: inline grid;
    gap: 10px;
    align-items: left;
    color: #952B2B;
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0;
    text-align: left;
    border-radius: 10%;
    font-weight: bold;
}


#TypeText, #WineText {
    font-size: 16px;
    border: 5px solid #952B2B;
    border-radius: 5px;
    background-color: #952B2B;
    color: #FFC2C2;
}

.WineTypeName, .corresponding-wines {
    border-bottom: 2px solid #952B2B;
    margin: 0px 0px 10px 0px;
}

/*Certainty */

.certainty {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    align-items: center;
    border-bottom: 2px solid #952B2B;
}


/* More information button */

/* Text */

.informationDiv {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

}

/* button */

#navigateInfo {
    width: 30%;
    height: 30%;
    border-radius: 25%;
}

#questionmark {
    font-size: 16px;
    position: relative; 
    display: flex; 
}

/* Home button */
.home-button {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}