html,
body {
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FFC2C2;
    overflow-x: hidden;
    /* Prevents horizontal scroll in case of overflow */
}

.welcome-box {
    background: #952B2B;
    color: #FFC2C2;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    width: 100%;
}

.welcome-box h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    /* Adjust font-size as necessary */
    font-family: 'Times New Roman', serif;
}

/* diamond shape */


.button-container {
    justify-content:center;
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    align-items:center;
}

.diamond-button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Position relative for absolute positioning of children */
    overflow: hidden; 
    background: #952B2B;
    color: #FFC2C2;
    width: calc(sqrt(2) * 50%);
    height: calc(sqrt(2) * 50%);
    transform: rotateZ(45deg);
    border-radius: 10px;
    text-align: center;
}


.material-symbols-outlined {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); /* Centralize and correct rotation */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; 
}

.button-label {
    font-size: 20px; /* Adjust font size as needed */
}

.material-icons {
    font-size: 20px; /* Typically, icons might be slightly larger */
}


/* text under icon */
.decription-head {
    font-size: 14px;
    color: #952B2B;
    padding: 0px 15px;
    margin: 0px 0px 10px 30px;
    text-align: left;
    font-family: 'Times New Roman', serif;
    text-decoration: underline;
}

/*input fiels */
#wineInput {
    border: 5px solid #952B2B; /* Adjust color to match the input border in the image */
    padding: 10px; /* Adjust padding to match the image */
    border-radius: 25px; /* Large border radius for rounded corners */
    height: 40px; /* Adjust height to match the image */
    width: 100%; /* Adjust width to make space for the button */
    margin-right: -50px;/* Full width minus button width, adjust as necessary */
    box-sizing: border-box; /* Ensures padding is included in total width/height */
    outline: none; /* Removes the outline to match the image style */
}

#addButton {
    position: absolute; /* Absolute position the add button */
    right: 10px; /* Position the button 5px from the right edge of the container */
    top: 7px;
    display: flex; /* Enables flexbox */
    justify-content: center;
    border: 2px solid #952B2B; /* Adjust color to match the button border in the image */
    background-color: #952B2B; /* Button background color */
    color: #FFC2C2; /* Text color within the button */
    padding: 5px 10px; /* Adjust padding to match the image */
    border-radius: 25px; /* Same as above, for the right side of the button */
    height: 25px; /* Height including border to align with the input field */
    cursor: pointer; /* Changes cursor to pointer on hover */
    align-items: center;
    font-family: 'Times New Roman', serif;
    font-size: 14px;
}


/* Styles for the container that holds both the input and the button */
#inputButtonContainer {
    position: relative; /* Set the input button container to position relative */
    max-width: 90%; /* Adjust to the desired width of the input field */
    margin: 0 auto;
}

/*Added wines */
.wine-box {
    border: 1px solid #952B2B;
    margin-top: 10px;
    padding: 5px;
    position: relative; /* Ensures that absolute positioning of children is relative to this container */
    display: flex; /* Allows for inline positioning of elements like the delete button */
    align-items: center;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    width: 90%;
    left: 10px;
    border-radius: 10px;
    text-decoration: underline;
}


/* Home button */
.home-button {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 60px; /* Distance from the bottom of the page */
    left: 50%; /* Center align the button horizontally */
    transform: translateX(-50%); /* Offset the button to truly center it */
    width: 100%; /* Optional, depending on exact needs */
}

.delete-button {
    all: unset;
    position: absolute; /* Position absolutely to place specifically within the parent */
    right: 5px; /* Align to the far left of the wine-box */
    background-color: #952B2B;
    transform: rotate(45deg);
    color: #952B2B; /* Ensuring text is visible on dark background */
    cursor: pointer; /* Makes it clear the button is clickable */
    padding: 0px 0px; /* Add padding for better touch targets */
    margin-right: 10px;
    border-radius: 10px;
}