html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FFC2C2;
    overflow-x: hidden;
    /* Prevents horizontal scroll in case of overflow */
}

.welcome-box {
    background: #952B2B;
    color: #FFC2C2;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    width: 100%;
}

.welcome-box h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    /* Adjust font-size as necessary */
    font-family: 'Times New Roman', serif;
}

/*Text under overskrift */

.decription-head {
    font-size: 20px;
    /* Adjust font-size as necessary */
    color: #952B2B;
    /* Assuming white text color */
    padding: 0px 15px;
    /* Padding above and below the text */
    margin: 20px 0 0px 0;
    text-align: left;
    /* Centers the text */
    font-family: 'Times New Roman', serif;
    text-decoration: underline;
}

.decription2 {
    font-size: 16px;
    /* Adjust font-size as necessary */
    color: #952B2B;
    /* White color for the paragraph text */
    margin: 0;
    /* Resets any default margins */
    padding: 0px 15px;
    /* Padding around the text */
    text-align: left;
    /* Centers the text */
    font-family: 'Times New Roman', serif;
}


/*Knap css */

.navigation-container {
    display: inline-grid;
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
    padding: 1cap;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    grid-gap: 40px; /* This is the space between the grid items */
    justify-content: center; 
    align-items: center; 
}

.button-container {
    position: relative;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.diamond-button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Position relative for absolute positioning of children */
    overflow: hidden; 
    font-size: 18px;
    background: #952B2B;
    color: #FFC2C2;
    width: calc(sqrt(2) * 50%);
    height: calc(sqrt(2) * 50%);
    transform: rotateZ(45deg);
    border-radius: 10px;
    text-align: center;
}

/* symbols and text inside buttons  */
.material-symbols-outlined, .button-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.button-text {
    font-size: 18px; 
    line-height: 1;
}

